#page1 {
display: block;

}
#page2 {
    display: none;
}

#js.timer {
    text-align: center;
}

#timer{
    margin: 10px;
    width: 10px;
}

* {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    text-align: center;
}